@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lemonada:wght@300&display=swap');

* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  background-color: lightgray;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url('loader.gif');
  background-position: top;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
}

/*HEADER*/

.header {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  min-width: 270px;
  transition: .7s;
}

.backBtn {
  margin: 0 5px 0 10px;
  transition: .5s;
  color:rgb(156, 151, 151);
  cursor: pointer;
}

.backBtn:hover {color:white;}

.sandwichBtn {
  order: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 25px 0;
  padding: 0;
  transform: scaleY(.7);
  font-size: 20px;
  color:white;
  border: none;
  background-color: black;
  transition: .3s;
}
.sandwichBtn:hover {
  cursor: pointer;
  color:silver;
}
.menuSpan {
  display: none;
  margin-left: 10px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #fff;
  border: none;
}

.headLink{
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headLink a {
  display: block;
  margin: 5px;
  padding: 0;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  color:black;
  border-radius: 4px;
  background-color: rgb(231, 200, 22);
  transition: .3s;
}

.headLink a:hover {background-color: rgb(248, 156, 8);}

/* DROP DOWN MENU*/

.ddList {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width:100vw;
  background-color: black;
  z-index: 7;
}

.ddList a {
  display: block;
  width:100%;
  height: 40px;
  line-height: 40px;
  margin:0;
  padding-left: 20px;
  background-color: rgb(49, 48, 48);
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-decoration: none;
  transition: .4s;
}

.ddList a:hover {
  color: rgb(179, 152, 0);
  background-color: rgb(97, 97, 112);
}

.fantomDiv1 {
  order: 3;
  width: 70%;
  margin: 0 5px;
  background-color: yellow;
}




/*FORM*/
.headerForm {
  order: 4;
  display: flex;
  justify-content: flex-end;
}

.allBtn {
  display: none;
  height: 30px;
  background-color: white;
  border: none;
  outline-style: dashed;
  padding-left: 10px;
  font-weight: 700;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid lightgray;
}
.allBtn option {
  height: 15px;
  width:100px;
}


.allBtn:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.allDd {padding: 0 5px;}

.searchInp {
  order: 5;
  padding: 0 15px;
  display: none;
  height: 30px;
  border: none;
  outline: none;
  font-size: 25px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px ;
}
.searchBtn {
  order: 6;
  background-color: black;
  color:white;
  border: none;
  font-size: 18px;
  height: 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.searchBtn:hover {cursor: pointer;}
.searchBtn:focus {outline-style: dashed;}

.proBtn{
  order: 7;
  display: none;
  margin-left:5px;
  padding: 0 20px;
  font-weight: 700;
  height: 35px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}
.proBtn:hover {
  background-color: rgb(51, 49, 49);
  cursor: pointer;
}

.fantomDiv2 {
  order: 8;
  display: none;
  margin-left: 20px;
  width: 1px;
  height: 30px;
  border:1px solid rgb(87, 85, 85);
}
.watchBtn {
  order: 9;
  display: none;
  margin-left: 5px;
  padding: 0 20px;
  height: 35px;
  color: white;
  font-weight: 700;
  background-color: black;
  border: none;
  border-radius: 5px;
}
.watchI{
  padding-right: 10px;
  color: gray;
}
.watchBtn:hover {
  background-color: rgb(51, 49, 49);
  cursor: pointer;
}
.watchBtn:hover .watchI {color:white;}

.userBtn {
  order: 10;
  height: 35px;
  margin: 0;
  padding: 0 20px;
  background-color: black;
  color:white;
  border: none;
  font-size: 18px;
  transition: .1s;
  border-radius: 5px;
}
.userDd {display: none;}
.userSpan {
  display: none;
  padding: 0 10px 0 7px;
}
.userCircle {color: white;}
.userBtn:hover {
  background-color: rgb(51, 49, 49);
  cursor: pointer;
}
.userBtn:hover .userCircle {color: white;}


@media screen and (min-width:600px) {
  .fantomDiv1 {display: none;}
  .userBtn {display: flex; align-items: center;}
  .userDd {display: inline;}
  .userSpan {display: inline;}
  .userCircle {color: rgb(160, 160, 160);}
  .allBtn {display: flex; align-items: center;}
  .searchInp {display: inline; width: 100%;}
  .fantomDiv2 {display: block;}
  .headerForm {width: 70%;}
  .searchBtn {
    color: rgb(122, 121, 121);
    background-color: white;
  }

  .mainGrid {min-width: 600px;}
}

@media screen and (min-width:1022px) {
  .fantomDiv2 {margin-left: 5px;}
  .sandwichBtn {order: 2;}
  .menuSpan {display: block;}
  .headLink {order: 1;}
  .headerForm {width: 40%;}
  .searchInp {display: block; width: 100%;}
  .proBtn {display: block;}
  .watchBtn {display: flex; align-items: center;}
  .mainGrid {min-width: 1022px;}
  .mainGrid {max-width: 1920px;}
}

/*MAIN PAGE*/

.mainGrid {
  display: grid;
  margin: auto;
  background-color: rgb(250, 250, 250);
  min-width: 220px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 75vh;
}

.searchResults h4 {
  text-align: center;
  color: rgb(54, 54, 54);
}


.movie {
  position: relative;
  transform-style: preserve-3d;
  width: 140px;
  height: 250px;
  margin: 5px;
  text-align: center;
}

/*FRONTCARD*/

.frontCard {
  display: flex;
  color:white;
  text-shadow: 1px 1px black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(240, 215, 170);
}

.frontCard, .backCard {
  position: absolute;
  padding: 0;
  transition: 1s;
  backface-visibility: hidden;
  width:100%;
  height:100%;
  transition: 1s;
  z-index: 1;
  perspective: 500px;
}

.frontCard img {
  width: 100%;
  max-height: 80%;
}

.frontCard h5 {
  margin: 5px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .8em;
  color:rgb(206, 134, 2);
}

/*BACKCARD*/

.backCard {
  transform: rotateY(180deg);
  overflow: hidden;
}
.movie:hover .frontCard {transform: rotateY(180deg);} 
.movie:hover .backCard {transform: rotateY(0deg);} 

.backCard p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .7em;
  margin: 0 5px;
  padding: 0 8px 0 5px;
  max-height: 160px;
  width: 100%;
  overflow-y: auto;
  text-align: justify;
  word-break: break-all;
  text-indent: 20px;
}

.backCard h4,h5 {
  overflow-y: hidden;
  font-size: .6em;
  margin: 3px 0;
  color:rgb(67, 35, 98);
  transition: .4s;
}
.backCard h4:hover, h5:hover {color: rgb(95, 22, 0);}

.backPic {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  opacity: .2;
  z-index: -1;
}

.knownFor {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 0px;
  font-size: .3em;
  transition: .3s;
}

.knownFor:hover {
  color:rgb(99, 8, 202);
  cursor: pointer;
}

.addToMyListBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width:25px;
  height:25px;
  margin: 3px;
  padding: 0;
  background-color: rgb(245, 172, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .4;
  transition: .5s;
  border-radius: 5px;
  cursor: pointer;
}

.addToMyListBtn:hover {
  opacity:1;
  background-color: rgb(129, 64, 3);
  color:white;
}

.addToMyListBtn:active {
  color: white;
  background-color: rgb(255, 21, 0);
}

/*VIDEO CASSET EFFECT*/

.frontCard:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 5px;
  height: 100%;
  background-color: orange;
  transform: skewY(50deg) translateY(3px);
  box-shadow: 3px -1px 5px rgb(112, 112, 112);
}

.frontCard:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(121, 81, 6);
  transform: skewX(40deg) translateX(2px);
}

.backCard:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 5px;
  height: 100%;
  background-color: rgb(126, 125, 124);
  transform: skewY(50deg) translateY(3px);
  box-shadow: 3px -3px 5px rgb(112, 112, 112);
  border-right: 1px solid black;
}

.backCard:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(75, 74, 73);
  transform: skewX(40deg) translateX(2.8px);
}

/*SEARCH FOR SMALL SCREEN.PORTAL*/

.serachPortal {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  padding: 0;
  min-width: 220px;

}
.serachPortal input {
  height: 50px; 
  width: 90%;
  margin: 0;
  padding: 0 15px;
  top: 0;
  position: absolute;
  z-index: 5;
  background-color: rgb(46, 44, 44);
  color:white;
  border: none;
  font-size: 20px;
}

.serachPortal button {
  top: 0;
  right:0;
  position: absolute;
  height: 50px;
  border: none;
  margin-top: 0;
  width:10%;
  background-color: rgb(46, 44, 44);
  color:white;
  text-transform: uppercase;
  font-size: 1em;
}

/*PAGE SCROLL*/

.pageScroll {
  background-color: rgb(255, 207, 144);
  padding: 5px;
  text-align: center;
  color: rgb(73, 70, 70);
}

.pageScroll span {
  margin: 0 20px;
}

.leftArrow, .rightArrow {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: .3s;
  border-radius: 50%;
}

.leftArrow:hover, .rightArrow:hover {
  color: white;
  background-color: rgb(241, 127, 45);
}
.leftArrow:active, .rightArrow:active {color: black;}

.footer {
  min-width: 220px;
  min-height: 100px;
  max-height: 50%;
  background-color: black;
  color:white;
  text-align: center;
  padding: 20px;
}

/*OPTION FOR MY LISTS*/


.options {
  position: relative;
  width: 100%;
  min-width: 270px;
  margin: 0;
  padding: 5px 20px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options h5 {
  cursor: pointer;
  letter-spacing: 2px;
}

@media screen and (max-width:420px) {
  .options h5 {
    display: none;
  }
}
  


.select {
  margin-left: 50px;
  padding: 5px;
  background-color: rgb(207, 118, 2);
  color:white;
  opacity: .8;
}

.clearBtn{
  padding: 5px;
  background-color: rgb(223, 218, 218);
  color:rgb(199, 0, 0);
  font-weight: 800;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.clearBtn:hover {
  background-color: rgb(250, 168, 152);
}

.fa-sort-alpha-down, .fa-sort-alpha-down-alt {
  position: absolute;
  margin: 0;
  padding: 3px;
  cursor: pointer;
  background-color: rgb(211, 219, 223);
  border-radius: 3px;
  transition: .3s;
}
.fa-sort-alpha-down {
  left: 10px;
}
.fa-sort-alpha-down-alt {
  left: 40px;
}

.fa-sort-alpha-down:hover, .fa-sort-alpha-down-alt:hover {
  background-color: rgb(38, 145, 194);
  color: #fff;
}